<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RicohWebcamUSB</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.RicohWebcamUSB</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RicohWebcamUSB</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Ricoh_0x05CA_0x18C0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.RicohWebcamUSB</string>
			<key>IOClass</key>
			<string>com_apple_driver_RicohWebcamUSB</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOUSBMiscellaneousDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>6336</integer>
			<key>idVendor</key>
			<integer>1482</integer>
		</dict>
		<key>Ricoh_0x05CA_0x1803</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.RicohWebcamUSB</string>
			<key>IOClass</key>
			<string>com_apple_driver_RicohWebcamUSB</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOUSBMiscellaneousDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>6147</integer>
			<key>idVendor</key>
			<integer>1482</integer>
		</dict>
		<key>Ricoh_0x05CA_0x1810</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.RicohWebcamUSB</string>
			<key>IOClass</key>
			<string>com_apple_driver_RicohWebcamUSB</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOUSBMiscellaneousDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>6160</integer>
			<key>idVendor</key>
			<integer>1482</integer>
		</dict>
		<key>Ricoh_0x05CA_0x1830</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.RicohWebcamUSB</string>
			<key>IOClass</key>
			<string>com_apple_driver_RicohWebcamUSB</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOUSBMiscellaneousDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>6192</integer>
			<key>idVendor</key>
			<integer>1482</integer>
		</dict>
		<key>Ricoh_0x05CA_0x1832</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.RicohWebcamUSB</string>
			<key>IOClass</key>
			<string>com_apple_driver_RicohWebcamUSB</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOUSBMiscellaneousDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>6194</integer>
			<key>idVendor</key>
			<integer>1482</integer>
		</dict>
		<key>Ricoh_0x05CA_0x1833</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.RicohWebcamUSB</string>
			<key>IOClass</key>
			<string>com_apple_driver_RicohWebcamUSB</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOUSBMiscellaneousDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>6195</integer>
			<key>idVendor</key>
			<integer>1482</integer>
		</dict>
		<key>Ricoh_0x05CA_0x1834</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.RicohWebcamUSB</string>
			<key>IOClass</key>
			<string>com_apple_driver_RicohWebcamUSB</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOUSBMiscellaneousDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>6196</integer>
			<key>idVendor</key>
			<integer>1482</integer>
		</dict>
		<key>Ricoh_0x05CA_0x1835</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.RicohWebcamUSB</string>
			<key>IOClass</key>
			<string>com_apple_driver_RicohWebcamUSB</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOUSBMiscellaneousDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>6197</integer>
			<key>idVendor</key>
			<integer>1482</integer>
		</dict>
		<key>Ricoh_0x05CA_0x1836</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.RicohWebcamUSB</string>
			<key>IOClass</key>
			<string>com_apple_driver_RicohWebcamUSB</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOUSBMiscellaneousDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>6198</integer>
			<key>idVendor</key>
			<integer>1482</integer>
		</dict>
		<key>Ricoh_0x05CA_0x1837</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.RicohWebcamUSB</string>
			<key>IOClass</key>
			<string>com_apple_driver_RicohWebcamUSB</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOUSBMiscellaneousDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>6199</integer>
			<key>idVendor</key>
			<integer>1482</integer>
		</dict>
		<key>Ricoh_0x05CA_0x1839</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.RicohWebcamUSB</string>
			<key>IOClass</key>
			<string>com_apple_driver_RicohWebcamUSB</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOUSBMiscellaneousDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>6201</integer>
			<key>idVendor</key>
			<integer>1482</integer>
		</dict>
		<key>Ricoh_0x05CA_0x183A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.RicohWebcamUSB</string>
			<key>IOClass</key>
			<string>com_apple_driver_RicohWebcamUSB</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOUSBMiscellaneousDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>6202</integer>
			<key>idVendor</key>
			<integer>1482</integer>
		</dict>
		<key>Ricoh_0x05CA_0x183B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.RicohWebcamUSB</string>
			<key>IOClass</key>
			<string>com_apple_driver_RicohWebcamUSB</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOUSBMiscellaneousDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>6203</integer>
			<key>idVendor</key>
			<integer>1482</integer>
		</dict>
		<key>Ricoh_0x05CA_0x183E</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.RicohWebcamUSB</string>
			<key>IOClass</key>
			<string>com_apple_driver_RicohWebcamUSB</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOUSBMiscellaneousDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>6206</integer>
			<key>idVendor</key>
			<integer>1482</integer>
		</dict>
		<key>Ricoh_0x05CA_0x1841</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.RicohWebcamUSB</string>
			<key>IOClass</key>
			<string>com_apple_driver_RicohWebcamUSB</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOUSBMiscellaneousDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>6209</integer>
			<key>idVendor</key>
			<integer>1482</integer>
		</dict>
		<key>Ricoh_0x05CA_0x1870</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.RicohWebcamUSB</string>
			<key>IOClass</key>
			<string>com_apple_driver_RicohWebcamUSB</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOUSBMiscellaneousDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>6256</integer>
			<key>idVendor</key>
			<integer>1482</integer>
		</dict>
	</dict>
	<key>OSBundleEnableKextLogging</key>
	<false/>
	<key>OSBundleLibraries_i386</key>
	<dict>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>3.9.6</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.3</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.3</string>
	</dict>
	<key>OSBundleLibraries_x86_64</key>
	<dict>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>3.9.6</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.3</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.3</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
